.blog-container {
  width: 70%;
  margin-left: 10%;
  margin-top: 6vh;

  .title {
    font-size: 26px;
    color: black;
    font-weight: 500;

    margin-bottom: 5vh;
  }

  .author-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 1.3em;

    .left-author-container {
      p {
        margin: 0;
      }

      .author {
        font-size: 18px;
        margin-bottom: 3px;
      }

      .timestamp {
        font-size: 12px;
        color: gray;
      }
    }

    .profile-photo {
      width: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}
