.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 24px;
  }
}

.main-form {
  min-width: 300px;
  padding: 10vh 15vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input {
  position: relative;
  width: 100%;
  margin: 10px 0;
  span {
    position: absolute;
    display: block;
    color: darken(#ededed, 20%);
    left: 10px;
    top: 8px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .disabled {
    display: none;
  }

  input {
    width: calc(100% - 47px);
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #ededed;
    border-radius: 4px;
    color: darken(#ededed, 50%);
    transition: 0.2s ease-out;

    &:focus {
      padding: 10px 35px 10px 10px;
      outline: 0;
      border-color: #8c86f8;
    }
  }
}

.send-btn {
  width: 100%;
  background-color: #8c86f8;
  color: #ffffff;

  border: 0;
  border-radius: 4px;

  padding: 10px 0;

  position: relative;

  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);

  &:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #000000;
    border-radius: 4px;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
  }

  &:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }

  &:after {
    background-color: #ffffff;
  }

  span {
    z-index: 1;
    position: relative;
  }
}
