* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 300;
  margin: 10px 0;

  color: darken(#ededed, 50%);
}

input {
  border: 1px solid darken(#ededed, 20%);
  color: darken(#ededed, 50%);

  &:focus {
    outline: none;
  }
}
